<% if @event.destroyed? %>
$('#event-' +<%= @event.id %>).fadeOut(700);
$('.message' ).html('<div class="alert alert-success"><%= escape_javascript(flash.discard(:notice)) %></div>');
$('.message').show();
$('.message').slideUp(800);
window.setTimeout(function(){location.reload()},900)
<% else %>
$('.message' ).html("<div class='alert alert-danger'><%= flash[:error] %></div>");
<% end %>

