// "bootstrap-sprockets" must be imported before "bootstrap" and "bootstrap/variables"
@import "bootstrap-sprockets";
@import "bootstrap";

.hide {
  display: none;
}

.nav {
  margin-top: 5px;
}

.user-info {
  margin-top: 9px;
}

.center-header {
  text-align: center;
}
body {
  background-image: url("http://previews.123rf.com/images/kentoh/kentoh1003/kentoh100300508/6622261-Statistics-and-Analysis-of-Data-as-Background-Stock-Photo-analytics.jpg");
  background-repeat: no-repeat;
  background-size: 100%;
}